<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopping.mall.mapper.SearchDao">

    <select id="searchProducts" parameterType="com.shopping.mall.domain.SearchRequest" resultType="com.shopping.mall.domain.Product">
        SELECT
        p.prd_id AS prdId,
        p.prd_nm AS prdNm,
        p.cntnt AS cntnt,
        p.prd_prc AS prdPrc,
        p.prd_sl AS prdSl,
        p.stck AS stck,
        p.rdt AS rdt,
        p.del AS del,
        p.image_path AS imagePath,
        c.ctgr_id AS ctgrId,
        c.ctgr_nm AS ctgrNm
        FROM product p
        JOIN category c ON p.ctgr_id = c.ctgr_id
        <where>
            <!--<if test="category != null and category != '' and category != 'all'">
                AND c.ctgr_nm = #{category}
            </if>-->
            <if test="keyword != null and keyword != ''">
                AND (
                    p.prd_nm LIKE CONCAT('%', #{keyword}, '%') OR c.ctgr_nm LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            AND p.del = 'N'
        </where>
        ORDER BY p.prd_id DESC
        LIMIT #{size} OFFSET ${page * size}
    </select>



    <select id="findByNameContaining" parameterType="string" resultType="com.shopping.mall.domain.Product">
        SELECT *
        FROM product
        WHERE name LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>